.Cards-photo-item{
    flex : 1 1 100%;
}
.Cards-photo-item ul{
padding-top: 10px;
    display: flex;
    list-style-type: none;

}
.Cards-photo-item ul li{
    color:#fff;
flex: 2;
}
li img{
    width: 50%;
    border-radius: 50%;
    flex:1;
}
.Cards-photo-item ul li span{
    font-size: 15px;
}