


.Most-Popular-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 20px;
}

.Most-Popular-item{

    flex: 1 20%;
    background-color:#6e6c6c;
    margin: 20px;
    border-radius: 5%;
}
.Most-Popular-item img{
    width:100%;
    padding: 10px;
    border-radius: 5%;
   
}
.Most-Popular-item-content{
    display: flex;
    justify-content: space-between;
    padding: 0 20px
}

.Most-Popular-item-content ul{
    list-style-type: none;
}
.Most-Popular-item-content li {
    font-size: 15px;
}
